.spacetour__navbar {
  // width: 100%;
  width: calc(100vw);
  height: 15.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.7rem;
  // gap: 1rem;
  min-width: 320px;
  position: absolute;
  z-index: 1001;
  &-line {
    width: 30%;
    min-width: 4rem;
    height: 0.3px;
    background-color: rgba(128, 128, 128, 0.341);
    transform: translateX(4rem);
    z-index: 2;
    flex-shrink: 1;
  }
  &-options {
    font-size: var(--sentence);
    width: 60vw;
    list-style: none;
    height: 8.7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(10px) brightness(150%);
    color: var(--primary-white);
    gap: 2rem;
    margin: 3.7rem 0;
    padding-inline: 8rem;
  }
  &-option {
    display: block;
    min-width: max-content;
    padding: 3.5rem 0;
    cursor: pointer;
    border-bottom: 3px solid transparent;
  }
  &-log-box {
    width: 4rem;
    height: 4rem;
    margin: 2rem 4rem;
  }
  &-logo {
    width: 4rem;
  }
  &-hamburger-box {
    cursor: pointer;
  }
  &-hamburger {
    display: none;
    margin: 2rem;
  }
}
