:root {
  --primary-dark: hsl(230, 35%, 7%);
  --primary-light-blue: hsl(231, 77%, 90%);
  --primary-white: #ffff;

  --heading-1: 13rem;
  --heading-2: 10rem;
  --heading-3: 5.6rem;
  --heading-4: 3.2rem;
  --heading-5: 2.8rem;

  --subheading-1: 2.8rem;
  --subheading-2: 1.4rem;
  --sentence: 1.6rem;
  --gap: 2rem;
}
