@media only screen and (max-width: 768px) {
  .home {
    background-image: url(/public/assets/home/background-home-tablet.jpg);
    background-position: center center;
    width: 100vw;
  }
  .spacetour__navbar {
    height: 8.7rem;
    gap: 0;
    flex-shrink: 1;
    &-line {
      display: none;
    }
    &-options {
      padding-inline: 5rem;
      margin: 0;
      & span:first-child {
        display: none;
      }
    }
    &-option {
      font-size: 12px;
    }
    &-log-box {
      margin: 0 2rem;
    }
    &-logo {
      height: 4rem;
      width: 4rem;
    }
  }
  .home_section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
  .article {
    grid-area: 1 / 1 / 2 / 2;
    place-items: center;
  }
  .Explore {
    grid-area: 2 / 1 / 3 / 2;
  }
  :root {
    --heading-1: 13rem;
    --heading-2: 5.56rem;
    --heading-3: 3.1136rem;
    --heading-4: 1.7792rem;
    --heading-5: 1.2rem;
    --senterce: 0.88896rem;
  }
  .article {
    &__heading-5 {
      text-align: center;
      margin-bottom: 2rem;
    }
    &__heading-1 {
      text-align: center;
      margin-bottom: 1.5rem;
    }
    &__para-1 {
      text-align: center;
      margin: 0 auto;
    }
  }

  .destination_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .home {
    background-image: url(/public/assets/home/background-home-mobile.jpg);
    background-position: bottom center;
    background-size: cover;
    width: 100vw;
  }
  .home_section {
    margin-top: 12.4rem;
  }
  .spacetour__navbar {
    &-options {
      display: none;
    }
    &-hamburger {
      display: block;
    }
  }
  .Explore {
    height: 19rem;
    width: 19rem;
  }
  :root {
    --heading-1: 10rem;
    --heading-2: 5.56rem;
    --heading-3: 3.1136rem;
    --heading-4: 1.7792rem;
    --heading-5: 1.6rem;
    --senterce: 0.88896rem;
  }
  .article {
    width: auto;
    &__heading-5 {
      text-align: center;
      margin-bottom: 2rem;
    }
    &__heading-1 {
      text-align: center;
      margin-bottom: 2rem;
    }
    &__para-1 {
      text-align: center;
      width: 290px;
    }
  }
  .hamburger__box {
    display: flex;
  }
}
