.ff-barlow-con-sans {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
}
.ff-barlow-sans {
  font-family: "Barlow ", sans-serif;
}
.ff-bellfair {
  font-family: "Bellefair", serif;
}
.underlined {
  border-bottom: 3px solid white;
}
.underlined__right {
  border-right: 3px solid white;
}

.ff-weigth-700 {
  font-weight: 700;
}
.tab-list {
  --gap: 2rem;
}
.ff-size-10 {
  font-size: 10rem;
}
.ff-size-12 {
  font-size: var(--heading-1);
}
.padding-top-bottom-1 {
  padding: 1rem 0;
}
.margin-left-08 {
  display: inline-block;
  margin-left: 0.84rem;
}
.margin-top-19 {
  margin-top: 19.4rem;
}
.margin-bottom-2 {
  margin: 2rem 0;
}
.margin-bottom-4 {
  margin: 4rem 0;
}
.light-gray {
  color: hsl(222, 6%, 34%);
}
.light-blue {
  color: var(--primary-light-blue);
}
.var-width {
  width: 70%;
}
.ff-white {
  color: white;
}
