@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-dark: hsl(230, 35%, 7%);
  --primary-light-blue: hsl(231, 77%, 90%);
  --primary-white: #ffff;
  --heading-1: 13rem;
  --heading-2: 10rem;
  --heading-3: 5.6rem;
  --heading-4: 3.2rem;
  --heading-5: 2.8rem;
  --subheading-1: 2.8rem;
  --subheading-2: 1.4rem;
  --sentence: 1.6rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow: hidden; /* fix boucing on the bottom */
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  position: relative;
}

.spacetour__navbar {
  width: 100vw;
  height: 15.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.7rem;
  gap: 1rem;
  min-width: 320px;
  position: fixed;
  z-index: 2;
}
.spacetour__navbar-line {
  width: 30%;
  min-width: 4rem;
  height: 0.3px;
  background-color: rgba(128, 128, 128, 0.341);
  transform: translateX(4rem);
  z-index: 2;
  flex-shrink: 2;
}
.spacetour__navbar-options {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  width: 70vw;
  list-style: none;
  height: 8.7rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: blur(10px) brightness(150%);
  color: var(--primary-white);
  gap: 4rem;
  margin: 3.7rem 0;
  padding-inline: 5rem;
}
.spacetour__navbar-option {
  display: block;
  min-width: max-content;
  padding: 3.5rem 0;
  font-size: var(--sentence);
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
.spacetour__navbar-option span:first-child {
  font-weight: 700;
}
.spacetour__navbar-option span:last-child {
  display: inline-block;
  margin-left: 0.84rem;
}
.spacetour__navbar-log-box {
  width: 4.5rem;
  height: 4.5rem;
  margin: 2rem 4rem;
}
.spacetour__navbar-hamburger-box {
  cursor: pointer;
  z-index: 10;
}
.spacetour__navbar-hamburger {
  display: none;
  margin: 2rem;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home {
  background-image: url(/public/assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden; /* fix boucing on the bottom */
  display: flex;
  justify-content: flex-end;
}

.home_section {
  text-align: center;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  padding-inline: 1rem;
  padding-bottom: 4rem;
  margin-top: 15.7rem;
  width: 100%;
  gap: 2rem;
  min-width: 320px;
}

.article {
  width: 41rem;
  min-width: 260px;
  grid-column: 1;
}

.Explore {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  height: 23.94rem;
  width: 23.94rem;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  background-color: var(--primary-white);
  cursor: pointer;
}
.Explore__title {
  font-family: "Bellefair", serif;
  font-size: var(--heading-4);
  font-weight: 200;
  text-transform: uppercase;
  font-style: normal;
  z-index: 1;
}
.Explore::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.384);
  border-radius: 50%;
  transition: transform 0.3s ease-out;
}
.Explore:hover::after {
  transform: scale(1.5);
  transform-origin: center;
}

.article {
  min-width: 250px;
}
.article__heading-5 {
  letter-spacing: 4.75px;
  font-size: var(--heading-5);
  font-weight: 400;
  color: var(--primary-light-blue);
  width: 100%;
  text-align: start;
}
.article__heading-1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--heading-1);
  color: white;
  text-align: start;
  width: 100%;
}
.article__para-1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--sentence);
  font-weight: 200;
  color: var(--primary-light-blue);
  line-height: 1.5;
  text-align: start;
  width: 100%;
  min-width: 250px;
}

.hamburger__box {
  position: absolute;
  width: 70%;
  height: 100%;
  backdrop-filter: blur(10px) brightness(150%);
  right: 0;
  display: none;
  padding: 10rem 0 10rem 3rem;
  transform: translateX(35rem);
  transition: transform 0.3s;
  z-index: 1000;
}
.hamburger__box-options {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
.hamburger__box-option {
  font-size: var(--heading-4);
  color: var(--primary-white);
  cursor: pointer;
}
.hamburger__box-option span:first-child {
  margin-right: 1rem;
}

.ff-barlow-sans {
  font-family: "Barlow Condensed", sans-serif;
}

.ff-bellfair-sarof {
  font-family: "Bellefair", serif;
}

.underlined {
  border-bottom: 3px solid white;
}

.underlined__right {
  border-right: 3px solid white;
}

@media only screen and (max-width: 768px) {
  .home {
    background-image: url(/public/assets/home/background-home-tablet.jpg);
    background-position: center center;
    width: 100vw;
  }
  .spacetour__navbar {
    height: 8.7rem;
    gap: 0;
    flex-shrink: 1;
  }
  .spacetour__navbar-line {
    display: none;
  }
  .spacetour__navbar-options {
    padding-inline: 5rem;
    margin: 0;
  }
  .spacetour__navbar-options span:first-child {
    display: none;
  }
  .spacetour__navbar-option {
    font-size: 12px;
  }
  .spacetour__navbar-log-box {
    margin: 0 2rem;
  }
  .spacetour__navbar-logo {
    height: 4rem;
    width: 4rem;
  }
  .home_section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
  .article {
    grid-area: 1/1/2/2;
    place-items: center;
  }
  .Explore {
    grid-area: 2/1/3/2;
  }
  :root {
    --heading-1: 13rem;
    --heading-2: 5.56rem;
    --heading-3: 3.1136rem;
    --heading-4: 1.7792rem;
    --heading-5: 1.2rem;
    --senterce: 0.88896rem;
  }
  .article__heading-5 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .article__heading-1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .article__para-1 {
    text-align: center;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 500px) {
  .home {
    background-image: url(/public/assets/home/background-home-mobile.jpg);
    background-position: bottom center;
    background-size: cover;
    width: 100vw;
  }
  .home_section {
    margin-top: 12.4rem;
  }
  .spacetour__navbar-options {
    display: none;
  }
  .spacetour__navbar-hamburger {
    display: block;
  }
  .Explore {
    height: 19rem;
    width: 19rem;
  }
  :root {
    --heading-1: 10rem;
    --heading-2: 5.56rem;
    --heading-3: 3.1136rem;
    --heading-4: 1.7792rem;
    --heading-5: 1.6rem;
    --senterce: 0.88896rem;
  }
  .article {
    width: auto;
  }
  .article__heading-5 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .article__heading-1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .article__para-1 {
    text-align: center;
    width: 290px;
  }
  .hamburger__box {
    display: flex;
  }
}

/*# sourceMappingURL=index.css.map */
